.Grid {
  border: 1px solid #800ecc;
  background-color: rgb(17, 97, 189);
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.Grid.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
